<!DOCTYPE html>
<html>
<head>

<link rel="icon" type="image/svg+xml" href="https://dergo.vercel.app/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body >
<h1>Elliot AI test /ch salah</h1>
<div class="mainapp">
<div id="chatbox">
    <iframe class="frame-border scroll-pane" src="render" frameborder="0"></iframe>

    
</div>


<footer>
        <div id="userInput">
            <form action="/submit" method="POST">
                <input id="textInput" type="text" name="msg" placeholder="Enter Prompt...">
                <button id="buttonInput" type="submit" value="submit"><img src="https://dergo.vercel.app/assets/send-f2246764.svg" ></button>

            </form>
            
        </div>
        
</footer>
</div>



</div>
</body>
</html>