<!DOCTYPE html>
<html>
<head>

<link rel="icon" type="image/svg+xml" href="https://dergo.vercel.app/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body >
<h1>Elliot AI test /ch salah</h1>
<div class="mainapp">
<div id="chatbox">
    <div class="aiGreeting">
        <div class="profile"><img src="{{url_for('static', filename='bot.svg')}}" /></div>
        <p class="botText"><span> Hi! I'm Elliot.</span></p>
    </div>

    {{html_code}}
</div>



</div>
</body>
</html>